// Base palette colors
@base-color: #697e93;
@base-color-dark: darken(@base-color, 10%);
@base-color-light: lighten(@base-color, 10%);

// Text colors
@text-color-light: lighten(@base-color, 50%);
@text-color-dark: darken(@base-color, 50%);
