.ns-left-menu {
    background-color: @light;
    color: @text-light;
    position: fixed;
    left: 0;
    top: 5px;
    bottom: 5px;
    width: 250px;
    font-size: 16px;
    .ns-menu-me {
        margin-top: 5px;
        margin-bottom: 15px;
        padding: 0 10px;
        background-color: @blue;
    }
    .ns-menu-single-menu {
        margin-top: 10px;
        padding: 0px 10px 0px 5px;
        .ns-menu-single-menu-item {
            background-color: @gray;
            padding: 1px 2px 1px 5px;
            margin: 5px 0;
            border-radius: 0 5px 5px 0;
        }
    }
}