.ns-left-menu {
    background-color: @light;
    // color: @text-dark;
    color: @text-light;
    position: fixed;
    left: 0;
    top: 5px;
    bottom: 5px;
    width: 250px;
    font-size: 16px;
}

