* {
  font-size: 12px;
  font-family: Tahoma, Geneva, sans-serif;
}
body,
html {
  background-color: #fdfdfd;
  color: #343e48;
}
.clear {
  clear: both;
}
.ns-page-header {
  background-color: #697d92;
  height: 5px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
.ns-left-menu {
  background-color: #a4b1bd;
  color: #eef0f3;
  position: fixed;
  left: 0;
  top: 5px;
  bottom: 5px;
  width: 250px;
  font-size: 16px;
}
.ns-left-menu .ns-menu-me {
  margin: 10px 0;
  padding: 0 10px;
}
.ns-left-menu .ns-menu-single {
  margin: 10px 0;
  padding: 0 10px;
}
.ns-page-body {
  position: fixed;
  top: 5px;
  right: 0;
  bottom: 5px;
  left: 250px;
}
.ns-page-footer {
  background-color: #697d92;
  color: #eef0f3;
  height: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
